@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
/* css för startsidan */
header {
    background: #252525;
    text-align: center;
    position: sticky;
    top: 0;  
}
header .loga {
    width: 270px;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 10px;   
}
header .loga:hover{
    cursor: pointer;
}
header .mail {
    float: right;
    margin-top: 25px;
    margin-right: 35px;
}
header .mail:hover{
    cursor: pointer;
}
header .fa-envelope-o{
    font-size: 35px;
    color: #fff;

}
header a {
    color: #FFFFFF;
    text-decoration: none;
}
header .p-kontakt {
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
}
header .platser{
    padding-bottom: 30px;
}
header ul{
    margin-top: 10px;
}
header li{
    display: inline;
    padding: 15px;
}
header li a{
    color: #fff; 
}
header li a:hover{
    transition-duration: 300ms;
    color: #DD9933;
    cursor: pointer;
}
main .vilkaarvigrid{
    display: grid;
    grid-template-columns:50% 50% ;
}
main .vilkaarvi{
    background: #252525;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 200px;
    padding-bottom: 100px;
}
main .vilkaarvih1{
    color: #DD9933;
    text-align: center;
    padding-bottom: 30px;
    font-size: 50px;
    text-transform: uppercase;
}
main .vilkaarvih1:after{
    content:' ';
    display: block;
    border:1px solid #DD9933;
    width: 110px;
    margin-left: 360px;
    margin-top: 5px;  
}
main .vilkaarvi-text{
    color: white;
    text-align: center;
    font-size: 25px;
}
main .dadoglad{
    width: -50%;
    text-align: right;
}
main .dadobild{
    width: 100%;
    max-width: 100%;
}
footer{
    background-color: #424242;
    height: 400px;
}
footer .informationStart{
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer .information{
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
footer .lokalh2{
    font-size: 20px;
    text-transform: uppercase;
    color: #C5C5C5;
    font-family: "Source Sans Pro" sans-serif;
    padding: 40px;
}
footer .lokal{
    color: #8d8787;
    margin-left: 20px;
    display: block;
    text-decoration: none;
    margin-top: 10px;
}
footer .fa-home{
    color: #DD9933;
    font-size: 20px;
    margin-left: 10px;
    padding: 10px;
}
footer .fa-envelope{
    color: #DD9933;
    font-size: 20px;
    margin-left: 10px;
    padding: 10px;
}
footer .tiderh2{
    font-size: 20px;
    color: #C5C5C5;
    font-family: "Source Sans Pro" sans-serif;
    text-transform: uppercase;
    padding: 40px;
    margin-bottom: 10px;
}
footer .tider{
    display: block;
    text-decoration: none;
    color: #8d8787;
    padding: 10px;
    margin-left: 30px;
}
footer .karta{
    background: #fff;
    width: 400px;
    height: 300px;
}

/* css för kontakt */
main .kontakta{
    text-align: center;
}
main .kontakta h1{
    color: #DD9933;
    font-size: 40px;
    margin-top: 40px;
}
main .kontakta hr{
    width: 1000px;
    margin-top: 30px;
    color: #EEEEEE;
}
main .kontakta p{
    color: #767676;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}
main .kontaktaformulär{
    background: #444242;
    color: #fff;
    width: 600px;
    height: auto;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 50px;
    margin-bottom: 100px;
    padding-bottom: 30px;
    border-radius: 3px;
    border-bottom-right-radius: 100px;
}
main .kontaktaformulär div{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}
main .kontaktaformulär label{
    font-size: 20px;
    margin: 20px;
    margin-right: 20px;
}
main .kontaktaformulär input{
    width: 100%;
    height: 50px;
}
main .kontaktaformulär p{
    color: #999999;
    margin-top: 10px;
    font-style: italic;
    text-align: left;
}
main .kontaktaformulär select{
    width: 100px;
    padding: 20px 10px;
    cursor: pointer;
}
main .kontaktaformulär .meddelande{
    height: 200px;
}
main .kontaktaformulär button{
    width: 100px;
    padding: 10px;
    margin-top: 40px;
    border: 1px solid #C5C5C5;
    border-radius: 4px;
    background: #C5C5C5;
}
main .kontaktaformulär button:hover{
    background: rgb(230, 221, 221);
    transition-duration: 500ms;
    cursor: pointer;
}
/* css för sabatsberg / kungsängen */
main .sabatsberg {
    font-family: "Source Sans Pro" sans-serif;
}
main .lunchmenyh2 {
    text-align: center;
    color: #DD9933;
    font-size: 60px;
    padding-top: 30px;
    font-weight: 100px;
}
main .lunchmenyh3 {
    text-align: center;
    color: #DD9933;
    font-size: 40px;
    padding: 30px;
    font-weight: 500;
}
main .veckonummer {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}
main .veckonummer:after{
    content:' ';
    display: block;
    border:1px solid #DD9933;
    width: 90px;
    margin: auto;
    margin-top: 5px;  
    margin-bottom: 40px;
}
main #tider-div{
    width: 550px;
    margin: 0 auto;
    color: #767676;
    margin-bottom: 50px;
}
main #tider-p{
    padding: 10px;
}
main .dag {
    font-size: 30px;
    margin: 30px;
    color: #444242;
    text-align: center;
}
main .matmeny {
    margin: auto;
    text-align: center;
    width: 400px;
    margin-bottom: 100px;
}
main .lunch-p {
    font-size: 18px;
    padding-bottom: 30px;
    color: #767676;
}
main .pil-höger-1 {
    font-size: 28px;
    text-align: left;
    margin-top: 11px;
    margin-left: -100px;
    color: #000;
}
main .pil-vänster-1 {
    font-size: 28px;
    text-align: right;
    margin-top: 11px;
    margin-right: -100px;
    color: #000;
}
main .pilar {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* css för catering */
main .catering-h1{
    color: #DD9933;
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
    padding: 30px;
    font-weight: normal;
}
main .catering-hr{
    width: 70%;
}
main .catering-p{
    color: #444242;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px;
}
main .catering-p2{
    color: #444242;
    margin-bottom: 40px;
}
main .cirklar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
main p {
    text-align: center;
    padding-bottom: 50px;
}
main .cirklar .fa-thumbs-o-up{
    color: #DD9933;
    font-size: 30px;
    margin-left: 10px;
    padding: 20px;
    border: 1px solid #DD9933;
    border-radius: 50%;
    margin-bottom: 30px;
}
main .cirklar .fa-user-o{
    color: #DD9933;
    font-size: 25px;
    margin-left: 10px;
    padding: 20px;
    border: 1px solid #DD9933;
    border-radius: 50%;
    margin-bottom: 35px;
}
main .cirklar .fa-truck{
    color: #DD9933;
    font-size: 30px;
    margin-left: 10px;
    padding: 20px;
    border: 1px solid #DD9933;
    border-radius: 50%;
    margin-bottom: 30px;
}
/* CSS för mobil */
@media (max-width: 800px){
    /* Enkel CSS-reset */
    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }
    body, h1, h2, h3, h4, h5, h6, p, ul {
        margin: 0;
        padding: 0;
    }

    /* CSS för startsida mobil */
    header {
        background: #252525;
        width: 100%;
        height: 200px;
    }
    header .loga {
        width: 200px;
        text-align: center;  
    }
    header .loga:hover{
        cursor: pointer;
    }
    main .platser{
        width: 100%;
        height: 350px;
        background: whitesmoke ;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;
    }
    main .platser div{
        text-align: center;
    }  
    
    main .plats1, .plats2, .plats3{
        background: #444242;
        color: #fff;
        text-decoration: none;
        border: 3px solid #DD9933;
        padding: 12px;
        border-radius: 5px;
        display: block;
        width: 200px;
        margin-left: 80px;
        
    }
    main .vilkaarvigrid{
        display: grid;
        grid-template-columns: 1fr;
    
    }
    main .vilkaarvi{
        width: 100%;
        background: #252525;
        font-family: 'Source Sans Pro', sans-serif;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    main .vilkaarvih1{
        color: #DD9933;
        text-align: center;
        padding-bottom: 30px;
        font-size: 50px;
        text-transform: uppercase;
    }
    main .vilkaarvih1:after{
        content:' ';
        display: block;
        border:1px solid #DD9933;
        width: 110px;
        margin-left: 360px;
        margin-top: 5px;  
    }
    main .vilkaarvi-text{
        color: white;
        text-align: center;
        font-size: 25px;
    }
    main .dadoglad{
        width: -50%;
        text-align: right;
    }
    main .dadobild{
        width: 100%;
        max-width: 100%;
    }
    footer{
        background-color: #424242;
        height: 400px;
    }
    footer .information{
        padding: 50px;
        display: grid;
        grid-template-columns: 1fr;
    }
    footer .lokalh2{
        font-size: 20px;
        text-transform: uppercase;
        color: #C5C5C5;
        font-family: "Source Sans Pro" sans-serif;
        padding: 40px;
    }
    footer .lokal{
        color: #8d8787;
        margin-left: 20px;
        display: block;
        text-decoration: none;
        margin-top: 10px;
    }
    footer .fa-home{
        color: #DD9933;
        font-size: 20px;
        margin-left: 10px;
        padding: 10px;
    }
    footer .fa-envelope{
        color: #DD9933;
        font-size: 20px;
        margin-left: 10px;
        padding: 10px;
    }
    footer .tiderh2{
        font-size: 20px;
        color: #C5C5C5;
        font-family: "Source Sans Pro" sans-serif;
        text-transform: uppercase;
        padding: 40px;
        margin-bottom: 10px;
    }
    footer .tider{
        display: block;
        text-decoration: none;
        color: #8d8787;
        padding: 10px;
        margin-left: 30px;
    }
    footer .karta{
        background: #fff;
        width: 400px;
        height: 300px;
    }
}